* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #d7d7d7;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Estilo do Cabeçalho */
header {
  background-color: #00143a;
  padding: 15px 0;
  color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  height: 50px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav a {
  color: #9ecad6;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

/* Estilo do Conteúdo Principal */
main {
  flex-grow: 1;
  padding: 40px 0;
}

#home .container {
  text-align: center;
}

#home h1 {
  font-size: 1.9em;
  margin-bottom: 20px;
  color: #00143a;
}

#home img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

#home p {
  font-size: 1.2em;
  line-height: 1.6;
  max-width: 900px;
  margin: 0 auto;
}

/* Estilos da Página de Lançamento */

#video_section h2,
#galeria_section h3,
#tabela_comparacao h3 {
  color: #00143a;
  margin-bottom: 19px;
  font-size: 1.7em;
}

#video_section p {
  margin-top: 15px;
  line-height: 1.5;
  font-size: 1.1em;
}

.video_container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.video_container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.galeria-imagens {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.galeria-imagens img {
  width: 100%;
  border-radius: 8px;
}

/* Estilos da Tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

table thead {
  background-color: #00143a;
  color: white;
}

tabletbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tabela_comparacao button {
  padding: 12px 25px;
  background-color: #abb5c7;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
}

/* Estilo do Rodapé  */
footer {
  background-color: #00143a;
  color: white;
  padding: 20px 0;
  margin-top: auto;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .social-links {
  display: flex;
  gap: 15px;
}

footer .social-links img {
  height: 24px;
}
